<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  <head>
    <meta charset="UTF-8">
    {% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <!---Adds the style for the page--->
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | site.name }}">
    <!---Adds the style for the page--->
    {% include google-analytics.html %}
    <link rel="stylesheet" type="text/css" href="/docs/assets/css/main.css">
  </head>

  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>
    <header class="page-header" role="banner">
      <h1 class="project-name">{{ page.title | default: site.title | default: site.name }}</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>

      <!---Load pages--->
      {% assign sorted_pages = site.pages | sort:"order" %}
      {% for page in sorted_pages %}
      <a href={{ page.filename }} class="btn">{{ page.title }}</a>
      {% endfor %}

    </header>
    <main id="content" class="main-content" role="main">
      {{ content }}
      <footer class="site-footer">
        <span class="site-footer-credits">Updated: April 2022</span>
      </footer>
    </main>


    <!---Add return to top button--->
    <button onclick="topFunction()" id="myBtn" title="Return to the top of page">Return to top</button>
    <script>
      //Get the button
      var mybutton = document.getElementById("myBtn");
      // When the user scrolls down 20px from the top of the document, show the button
      window.onscroll = function() {scrollFunction()};
      function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
          mybutton.style.display = "block";
        } else {
          mybutton.style.display = "none";
        }
      }
      // When the user clicks on the button, scroll to the top of the document
      function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
      }
      </script>
      <!---Add return to top button--->

      
  </body>

</html>